/* SW Lab - Global Styles */

// mobile-first breakpoints
$break-320   : 320px;
$break-500   : 500px;
$break-768   : 768px;
$break-1025  : 1025px;
$break-1200  : 1200px;
$break-1400  : 1400px;

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%;}
.clearfix { display: block; }
/* close commented backslash hack */

.page-container {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/noisy_grid.png');
}
////////// Global END





////////// Helper Classes START
.show {
  display: block;
}
.hide {
  display: none;
}
////////// Helper Classes END

















/* HEADER */
header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px #666;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
}
/* LOGO */
h1.logo {
  margin:0;padding: 0;
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  background: url("http://placehold.it/40x40.jpg") no-repeat;
  text-indent: -9999px;
}

/* NAVIGATION */
.main-nav {
  display: inline-block;
  float: right;
  ul {
    margin:0;padding: 0;
    li {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      float: left;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}






/* SIDEBAR */
aside {
  margin: 0;padding: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 60px;
  background: #ccc;
  height: 60px;
  box-shadow: 0 2px 4px #333;
  @media screen and (min-width: 1025px) {
    float: left;
    position: static;
    background: none;
    box-shadow: none;
    width: 20%;
    min-height: 500px;
  }
  .thumb {
    img {
      display: block;
      height: 60px;
      float: left;
      border: 1px solid #aaa;
      @media screen and (min-width: 1025px) { 
        height: 100px;
        position: fixed;
        top: 60px;
      }
    }
    #trigger-list-components {
      display: block;
      height: 40px;
      float: left;
      margin: 10px 15px;
      line-height: 40px;
      @media screen and (min-width: 1025px) { 
        display: none;
      }
    }
  }
  nav {
    width: 100%;
    display: block;
    display: none;
    margin-top: 60px;
    @media screen and (min-width: 1025px) {
      max-width: 200px;
      display: block;
      position: fixed;
      top: 100px;
    }
    ul {
      margin: 0;padding: 0;
      display: block;
      list-style: none;
      box-shadow: 0 2px 4px #666;
      @media screen and (min-width: 1025px) {
        box-shadow: none;
      }
      li {
        width: 100%;
        padding: 10px;
        margin: 0;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        line-height: 16px;
        background: #efefef;
        ul {
          margin: 0;padding: 0;
          li {
            background: #ccc;
          }
        }
        a {
          display: block;
        }
      }
    }
  }
}








/* MAIN CONTENT */
.content-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 120px;
  background: #fff;
  @media screen and (min-width: 1025px) { 
    margin-top: 60px;
  }
}
section.main-content {
  margin: 0;padding: 0;
  width: 100%;
  background: #fff;
  min-height: 500px;
  @media screen and (min-width: 1025px) { 
    width: 80%;
    float: right;
  }
  .hero {
    display: block;
    margin:0;padding:1em;
    background: #3AADE2;
    @media screen and (min-width: 1025px) { 
      height: 300px;
    }
  }
  article {
    padding: 1em;
  }
}




/* FOOTER */
footer {
  background: #333;
  padding: 1em;
}



